In [1]:
import pandas as pd
import ast

In [2]:
meta=pd.read_csv(r'C:\Users\sambangi.bindu\Downloads\Capstone Project 3\Capstone Project 3\Data\movies_metadata.csv')

C:\Users\sambangi.bindu\AppData\Local\Temp\ipykernel_21488\2182780873.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  meta=pd.read_csv(r'C:\Users\sambangi.bindu\Downloads\Capstone Project 3\Capstone Project 3\Data\movies_metadata.csv')

In [3]:
meta.rename(columns={'id':'mov_id'},inplace=True)

In [4]:
meta

,adult,belongs_to_collection,budget,genres,homepage,mov_id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [5]:
meta.shape

(45466, 24)

# Data cleaning in movie meta data

In [6]:
meta[meta.duplicated()]

,adult,belongs_to_collection,budget,genres,homepage,mov_id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
1465,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,105045,tt0111613,de,Das Versprechen,"East-Berlin, 1961, shortly after the erection ...",...,1995-02-16,0.0,115.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,"A love, a hope, a wall.",The Promise,False,5.0,1.0
9165,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,5511,tt0062229,fr,Le Samouraï,Hitman Jef Costello is a perfectionist who alw...,...,1967-10-25,39481.0,105.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,There is no solitude greater than that of the ...,Le Samouraï,False,7.9,187.0
9327,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,23305,tt0295682,en,The Warrior,"In feudal India, a warrior (Khan) who renounce...",...,2001-09-23,0.0,86.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,The Warrior,False,6.3,15.0
13375,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,2008-12-26,0.0,108.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0
16764,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,2008-12-26,0.0,108.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0
21165,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,119916,tt0080000,en,The Tempest,"Prospero, the true Duke of Milan is now living...",...,1980-02-27,0.0,123.0,[],Released,NaN,The Tempest,False,0.0,0.0
21854,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",NaN,152795,tt1821641,en,The Congress,More than two decades after catapulting to sta...,...,2013-05-16,455815.0,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Congress,False,6.4,165.0
22151,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",http://www.daysofdarknessthemovie.com/,18440,tt0499456,en,Days of Darkness,When a comet strikes Earth and kicks up a clou...,...,2007-01-01,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Days of Darkness,False,5.0,5.0
23044,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,25541,tt1327820,da,Broderskab,Former Danish servicemen Lars and Jimmy are th...,...,2009-10-21,0.0,90.0,"[{'iso_639_1': 'da', 'name': 'Dansk'}]",Released,NaN,Brotherhood,False,7.1,21.0
24844,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.dealthemovie.com/,11115,tt0446676,en,Deal,As an ex-gambler teaches a hot-shot college ki...,...,2008-01-29,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Deal,False,5.2,22.0
28860,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,168538,tt0084387,en,Nana,"In Zola's Paris, an ingenue arrives at a tony ...",...,1983-06-13,0.0,92.0,[],Released,NaN,"Nana, the True Key of Pleasure",False,4.7,3.0
29374,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,42495,tt0067306,en,King Lear,"King Lear, old and tired, divides his kingdom ...",...,1971-02-04,0.0,137.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Rumored,NaN,King Lear,False,8.0,3.0
40040,False,NaN,980000,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,298721,tt2818654,th,รักที่ขอนแก่น,"In a hospital, ten soldiers are being treated ...",...,2015-09-02,0.0,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Cemetery of Splendour,False,4.4,50.0

In [7]:
meta.drop_duplicates(inplace=True)

In [8]:
meta.shape

(45453, 24)

In [9]:
meta.drop(columns=['belongs_to_collection','genres','production_companies','production_countries','spoken_languages'],inplace=True)

In [10]:
meta.drop(columns=['homepage','overview','poster_path'],inplace=True)

In [11]:
meta

,adult,budget,mov_id,imdb_id,original_language,original_title,popularity,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count
0,False,30000000,862,tt0114709,en,Toy Story,21.946943,1995-10-30,373554033.0,81.0,Released,NaN,Toy Story,False,7.7,5415.0
1,False,65000000,8844,tt0113497,en,Jumanji,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,0,15602,tt0113228,en,Grumpier Old Men,11.7129,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,16000000,31357,tt0114885,en,Waiting to Exhale,3.859495,1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,0,11862,tt0113041,en,Father of the Bride Part II,8.387519,1995-02-10,76578911.0,106.0,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,0,439050,tt6209470,fa,رگ خواب,0.072051,NaN,0.0,90.0,Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,0,111109,tt2028550,tl,Siglo ng Pagluluwal,0.178241,2011-11-17,0.0,360.0,Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,0,67758,tt0303758,en,Betrayal,0.903007,2003-08-01,0.0,90.0,Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,0,227506,tt0008536,en,Satana likuyushchiy,0.003503,1917-10-21,0.0,87.0,Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,0,461257,tt6980792,en,Queerama,0.163015,2017-06-09,0.0,75.0,Released,NaN,Queerama,False,0.0,0.0

In [12]:
meta['mov_id'] = pd.to_numeric(meta['mov_id'], errors='coerce')
meta = meta.dropna(subset=['mov_id'], how='any')
#new_meta[new_meta['Mov_id'].isnull()==True]

In [13]:
meta

,adult,budget,mov_id,imdb_id,original_language,original_title,popularity,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count
0,False,30000000,862.0,tt0114709,en,Toy Story,21.946943,1995-10-30,373554033.0,81.0,Released,NaN,Toy Story,False,7.7,5415.0
1,False,65000000,8844.0,tt0113497,en,Jumanji,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,0,15602.0,tt0113228,en,Grumpier Old Men,11.7129,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,16000000,31357.0,tt0114885,en,Waiting to Exhale,3.859495,1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,0,11862.0,tt0113041,en,Father of the Bride Part II,8.387519,1995-02-10,76578911.0,106.0,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,0,439050.0,tt6209470,fa,رگ خواب,0.072051,NaN,0.0,90.0,Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,0,111109.0,tt2028550,tl,Siglo ng Pagluluwal,0.178241,2011-11-17,0.0,360.0,Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,0,67758.0,tt0303758,en,Betrayal,0.903007,2003-08-01,0.0,90.0,Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,0,227506.0,tt0008536,en,Satana likuyushchiy,0.003503,1917-10-21,0.0,87.0,Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,0,461257.0,tt6980792,en,Queerama,0.163015,2017-06-09,0.0,75.0,Released,NaN,Queerama,False,0.0,0.0

In [14]:
meta.isnull().sum()

adult                    0
budget                   0
mov_id                   0
imdb_id                 17
original_language       11
original_title           0
popularity               3
release_date            87
revenue                  3
runtime                260
status                  84
tagline              25042
title                    3
video                    3
vote_average             3
vote_count               3
dtype: int64

In [15]:
meta[meta['revenue'].isnull()==True][['revenue','status','title','video','vote_average','vote_count','popularity']]

       revenue status title video  vote_average  vote_count popularity
19729      NaN    NaN   NaN   NaN           NaN         NaN        NaN
29502      NaN    NaN   NaN   NaN           NaN         NaN        NaN
35586      NaN    NaN   NaN   NaN           NaN         NaN        NaN

In [16]:
meta[meta['revenue'].isnull()==True][['revenue','status','title','video','vote_average','vote_count','imdb_id','original_language','release_date','runtime','tagline','popularity']]

,revenue,status,title,video,vote_average,vote_count,imdb_id,original_language,release_date,runtime,tagline,popularity
19729,NaN,NaN,NaN,NaN,NaN,NaN,tt0113002,en,NaN,NaN,NaN,NaN
29502,NaN,NaN,NaN,NaN,NaN,NaN,tt2423504,ja,NaN,NaN,NaN,NaN
35586,NaN,NaN,NaN,NaN,NaN,NaN,tt2622826,en,NaN,NaN,NaN,NaN

In [17]:
a=meta.isnull().sum(axis=1)
b=a.max()
rows_with_max_nulls = meta[a == b]

In [18]:
rows_with_max_nulls

,adult,budget,mov_id,imdb_id,original_language,original_title,popularity,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count
19729,False,0,82663.0,tt0113002,en,Midnight Man,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29502,False,0,122662.0,tt2423504,ja,マルドゥック・スクランブル 排気,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35586,False,0,249260.0,tt2622826,en,Avalanche Sharks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
meta.dropna(subset=['title'],how='any',inplace=True)

C:\Users\sambangi.bindu\AppData\Local\Temp\ipykernel_21488\1560785996.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meta.dropna(subset=['title'],how='any',inplace=True)

In [20]:
meta['imdb_id'] = meta['imdb_id'].str.replace('tt', '')

C:\Users\sambangi.bindu\AppData\Local\Temp\ipykernel_21488\2127178126.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meta['imdb_id'] = meta['imdb_id'].str.replace('tt', '')

In [21]:
meta['imdb_id']=meta['imdb_id'].astype(float)

C:\Users\sambangi.bindu\AppData\Local\Temp\ipykernel_21488\1161828766.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meta['imdb_id']=meta['imdb_id'].astype(float)

In [22]:
meta.dtypes

adult                 object
budget                object
mov_id               float64
imdb_id              float64
original_language     object
original_title        object
popularity            object
release_date          object
revenue              float64
runtime              float64
status                object
tagline               object
title                 object
video                 object
vote_average         float64
vote_count           float64
dtype: object

In [23]:
meta['adult'].value_counts()

False    45438
True         9
Name: adult, dtype: int64

In [24]:
meta

,adult,budget,mov_id,imdb_id,original_language,original_title,popularity,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count
0,False,30000000,862.0,114709.0,en,Toy Story,21.946943,1995-10-30,373554033.0,81.0,Released,NaN,Toy Story,False,7.7,5415.0
1,False,65000000,8844.0,113497.0,en,Jumanji,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,0,15602.0,113228.0,en,Grumpier Old Men,11.7129,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,16000000,31357.0,114885.0,en,Waiting to Exhale,3.859495,1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,0,11862.0,113041.0,en,Father of the Bride Part II,8.387519,1995-02-10,76578911.0,106.0,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,0,439050.0,6209470.0,fa,رگ خواب,0.072051,NaN,0.0,90.0,Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,0,111109.0,2028550.0,tl,Siglo ng Pagluluwal,0.178241,2011-11-17,0.0,360.0,Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,0,67758.0,303758.0,en,Betrayal,0.903007,2003-08-01,0.0,90.0,Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,0,227506.0,8536.0,en,Satana likuyushchiy,0.003503,1917-10-21,0.0,87.0,Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,0,461257.0,6980792.0,en,Queerama,0.163015,2017-06-09,0.0,75.0,Released,NaN,Queerama,False,0.0,0.0

In [25]:
meta['adult'].value_counts()

False    45438
True         9
Name: adult, dtype: int64

In [26]:
meta['budget']=meta['budget'].astype(int)

C:\Users\sambangi.bindu\AppData\Local\Temp\ipykernel_21488\4045488092.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meta['budget']=meta['budget'].astype(int)

In [27]:
meta['popularity']=meta['popularity'].astype(float)

C:\Users\sambangi.bindu\AppData\Local\Temp\ipykernel_21488\672674034.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meta['popularity']=meta['popularity'].astype(float)

In [28]:
meta.dtypes

adult                 object
budget                 int32
mov_id               float64
imdb_id              float64
original_language     object
original_title        object
popularity           float64
release_date          object
revenue              float64
runtime              float64
status                object
tagline               object
title                 object
video                 object
vote_average         float64
vote_count           float64
dtype: object

In [29]:
meta.isnull().sum()

adult                    0
budget                   0
mov_id                   0
imdb_id                 17
original_language       11
original_title           0
popularity               0
release_date            84
revenue                  0
runtime                257
status                  81
tagline              25039
title                    0
video                    0
vote_average             0
vote_count               0
dtype: int64

In [31]:
meta

,adult,budget,mov_id,imdb_id,original_language,original_title,popularity,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count
0,False,30000000,862.0,114709.0,en,Toy Story,21.946943,1995-10-30,373554033.0,81.0,Released,NaN,Toy Story,False,7.7,5415.0
1,False,65000000,8844.0,113497.0,en,Jumanji,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,0,15602.0,113228.0,en,Grumpier Old Men,11.712900,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,16000000,31357.0,114885.0,en,Waiting to Exhale,3.859495,1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,0,11862.0,113041.0,en,Father of the Bride Part II,8.387519,1995-02-10,76578911.0,106.0,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,0,439050.0,6209470.0,fa,رگ خواب,0.072051,NaN,0.0,90.0,Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,0,111109.0,2028550.0,tl,Siglo ng Pagluluwal,0.178241,2011-11-17,0.0,360.0,Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,0,67758.0,303758.0,en,Betrayal,0.903007,2003-08-01,0.0,90.0,Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,0,227506.0,8536.0,en,Satana likuyushchiy,0.003503,1917-10-21,0.0,87.0,Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,0,461257.0,6980792.0,en,Queerama,0.163015,2017-06-09,0.0,75.0,Released,NaN,Queerama,False,0.0,0.0

In [32]:
meta[meta.duplicated()]

,adult,budget,mov_id,imdb_id,original_language,original_title,popularity,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count
35798,False,0,159849.0,173769.0,en,Why We Fight: Divide and Conquer,0.473322,1943-01-01,0.0,57.0,Released,NaN,Why We Fight: Divide and Conquer,False,5.0,1.0
38871,False,0,99080.0,22537.0,en,The Viking,0.002362,1931-06-21,0.0,70.0,Released,Actually produced during the Great Newfoundlan...,The Viking,False,0.0,0.0
40276,False,0,97995.0,127834.0,en,Seven Years Bad Luck,0.141558,1921-02-06,0.0,62.0,Released,NaN,Seven Years Bad Luck,False,5.6,4.0
45265,False,0,265189.0,2121382.0,sv,Turist,12.165685,2014-08-15,1359497.0,118.0,Released,NaN,Force Majeure,False,6.8,255.0

In [ ]:
meta.drop_duplicates(inplace=True)

In [ ]:
meta.to_csv('cleaned_mvi_data.csv',index=False)